@media screen and (max-width: 1200px) {
    .features {
        padding: 90px 80px;
    }
    .features h2 {
        width: 80%;
    }

    .how_it_was {
        padding: 97px 75px;
    }

    .face nav .nav-item {
        font-size: 18px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 992px) {
    .features {
        padding: 90px 30px;
    }

    .features h2 {
        width: 100%;
    }

    .how_it_was h3 {
        font-size: 24px;
    }

    .how_it_was button.button-transparent {
        font-size: 14px;
    }

    .face nav .nav-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .cover-container, .hello_left-side, .place__content, .features, .booking,
    .reviews, .how_it_was, .booking_instructions, .footer {
        padding-right: 16px;
        padding-left: 16px;
    }

    .how_it_was, .booking_instructions, .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .face h1 {
        width: 100%;
    }

    .face .button-transparent {
        margin-top: 165px;
    }

    .face__btn-group {
        margin-bottom: 30px;
    }

    .hello {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .hello_left-side {
        padding-bottom: 45px;
    }

    h1, h2 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }


    .face nav .nav-item {
        font-size: 24px;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .face .navbar-light .navbar-toggler {
        z-index: 100;
    }

    .face .header_go-button {
        width: 100%;
    }

    .face .navbar-light .header_go-button button {
        margin: 50px auto 0 auto;
        font-size: 18px;
        font-weight: 600;
        text-transform: initial;
        color: #fff;
        background-color: #000;
        padding: 10px 24px;
    }

    .face .navbar-light .header_go-button button:hover {
        transition: all ease-in-out 2ms;
        background-color: #185dc6;
    }

    .navbar-collapse {
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        background-color: #fff;
        max-height: 100%;
        transition: all .2s ease-out;
    }

    .face .navbar-nav {
        padding-top: 100px;
        height: 100vh;
    }

    .face .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: #000;
    }

    .face .navbar-light .navbar-nav .nav-link {
        color:#000;
    }

    .face .button-transparent {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hello .button-transparent {
        margin-top: 30px;
    }

    .place {
        width: 100%;
    }


    .place .card-img {
        height: 276px;
    }

    .place .card__region {
        font-size: 16px;
    }

    .place .card__title {
        font-size: 24px;
    }

    .place .card__footer {
        margin-bottom: 30px;
    }

    .card__footer p {
        font-size: 14px;
    }

    .place button {
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
    }

    .place button:hover {
        transition: all ease-in-out 2ms;
        background-color: #185dc6;
    }

    .features {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .features h2 {
        font-size: 18px;
        width: 100%;
    }

    .features h3 {
        margin-bottom: 20px;
    }

    .feature__description {
        width: 80%;
        margin-bottom: 25px;
    }

    .feature__img {
        width: 60%;
    }

    .features div.card > div:first-of-type {
        margin-right: 0;
    }

    .booking {
        padding-top: 30px;
    }

    .reviews {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .how_it_was__title {
        margin-bottom: 15px;
    }

    .carousel-prev {
        left: 0;
    }

    .carousel-next {
        right: 0;
    }

    .footer p {
        font-size: 14px;
    }


    .splide__arrows button {
        display: none;
    }

    .splide__arrow--prev {
        left: 0;
    }

    .splide__arrow--next {
        right: 0;
    }
}

@media screen and (max-width: 576px) {
    .feature__description {
        width: 100%;
    }

    .feature__img {
        width: 100%;
    }


    .booking button {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .button-transparent {
        padding: 0 10px;
    }
}

