@media screen and (max-width: 1200px) {
    .features {
        padding: 90px 80px;
    }
    .features h2 {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    .features {
        padding: 90px 30px;
    }

    .features h2 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hello {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .hello_left-side {
        padding-bottom: 45px;
    }

    h1, h2 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }

    .face .nav .nav-item {
        margin-right: 0;
    }


    .face .button-transparent {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hello .button-transparent {
        margin-top: 30px;
    }

    .place {
        width: 100%;
    }


    .place .card-img {
        height: 276px;
    }

    .place .card__region {
        font-size: 16px;
    }

    .place .card__title {
        font-size: 24px;
    }

    .place .card__footer {
        margin-bottom: 30px;
    }

    .card__footer p {
        font-size: 14px;
    }

    .place button {
        text-transform: uppercase;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
    }

    .place button:hover {
        transition: all ease-in-out 2ms;
        background-color: #185dc6;
    }

    .features {
        padding: 90px 16px;
    }

    .features h2 {
        font-size: 18px;
        width: 100%;
    }

    .features h3 {
        margin-bottom: 20px;
    }

    .feature__description {
        width: 80%;
    }

    .feature__img {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {
    .feature__description {
        width: 100%;
    }

    .feature__img {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .button-transparent {
        padding: 0 10px;
    }
}
